.navbar {
    height: 110px;
    /* background-color: #111; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    z-index: 50;
    margin-right : 2em;
    margin-left : 2em;
  }
  .navbar > a {
    text-decoration: none;
  }
  
  .navbar_logo h2 {
    color: #ff7f00;
    font-size: 1.8rem;
    cursor: pointer;
  }
  
  .navbar_logo h2:hover {
    color : #2ddf7d;
    transition : 1s;
  }
  
  .navbar_links {
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar_links > li {
    padding-left: 1.9rem;
    font-weight: bold;
  }
  
  .navbar_links > li > a {
    text-decoration: none;
    color: #ff7f00;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
  }
  
  .navbar_links > li > a:hover {
    color : #dd219e;
    transition : 1s;
  }
  
  .navbar_links > li > a > span {
    display: flex;
    align-items: center;
    margin-left: 8px;
  }
  
  .info_link {
    background : #ff7f00;
    padding : 14px;
    border-radius: 8px;
  }
  
  .lecture_link {
    padding : 14px;
    border-radius : 8px;
  }
  
  .cart_link {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
  }
  
  .cart_link:hover {
    /* background: #dd219e; */
    color: #fff;
    background-color : #ff7f00;
    transition : 1s;
  }
  
  .cartlogo_badge {
    width: 30px;
    height: 30px;
    background: #f4f4f4;
    border-radius: 50%;
    margin-left: 8px;
    color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
  }
  
  .hamburger_menu {
    width: 30px;
    height: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .hamburger_menu > div {
    width: 100%;
    height: 3px;
    background: #ff7f00;
  }
  
  .hamburger_menu:hover > div {
    background: #dd219e;
  }
  
  .logout_btn {
    text-decoration : none;
    background-color : #333;
    padding : 14px;
    border : none;
    border-radius: 8px;
    color : white;
    margin-right : 15px;
    cursor : pointer;
    font-size : 1.2em;
  }
  
  #logout:hover {
    color : #dd219e;
    transition : 1s;
  }
  
  @media (max-width: 960px) {
    .navbar_links {
      display: none;
    }
    .hamburger_menu {
      display: flex;
    }
  }
  
  @media (max-width: 500px) {
    .navbar_logo h2 {
      font-size: 1rem;
    }
  }
  